@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* defaultDarkNeutralCyan */
  :root {
      --color-txt-main: 0deg 0% 90%;
      --color-txt-accent: 0deg 0% 70%;
      --color-lines: 0deg 0% 15%;
      --color-bkg: 0deg 0% 9%;
      --color-accent: 188deg 86% 53%;
    }
  @media (prefers-color-scheme: light) {
    /* defaultLightCyan */
    :root {
      --color-txt-main: 0deg 0% 15%;
      --color-txt-accent: 0deg 0% 45%;
      --color-lines: 0deg 0% 83%;
      --color-bkg: 0deg 0% 96%;
      --color-accent: 188deg 86% 53%;
    }
  }
  /* LIGHT COLORS */
  :root[data-theme='lightRed'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 0deg 84% 60%;
  }
  :root[data-theme='lightOrange'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 25deg 95% 53%;
  }
  :root[data-theme='lightAmber'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 38deg 92% 50%;
  }
  :root[data-theme='lightYellow'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 45deg 93% 47%;
  }
  :root[data-theme='lightLime'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 83deg 78% 55%;
  }
  :root[data-theme='lightGreen'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 142deg 71% 45%;
  }
  :root[data-theme='lightEmerald'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 158deg 64% 52%;
  }
  :root[data-theme='lightTeal'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 173deg 80% 40%;
  }
  :root[data-theme='lightCyan'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 188deg 86% 53%;
  }
  :root[data-theme='lightSky'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 199deg 89% 48%;
  }
  :root[data-theme='lightBlue'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 217deg 91% 60%;
  }
  :root[data-theme='lightIndigo'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 239deg 84% 67%;
  }
  :root[data-theme='lightViolet'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 258deg 90% 66%;
  }
  :root[data-theme='lightPurple'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 271deg 91% 65%;
  }
  :root[data-theme='lightFuchsia'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 292deg 84% 61%;
  }
  :root[data-theme='lightPink'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 329deg 86% 70%;
  }
  :root[data-theme='lightRose'] {
    --color-txt-main: 0deg 0% 15%;
    --color-txt-accent: 0deg 0% 45%;
    --color-lines: 0deg 0% 83%;
    --color-bkg: 0deg 0% 96%;
    --color-accent: 350deg 89% 60%;
  }

  /* DARK NEUTRAL COLORS */
  :root[data-theme='darkNeutralRed'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 0deg 84% 60%;
  }
  :root[data-theme='darkNeutralOrange'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 25deg 95% 53%;
  }
  :root[data-theme='darkNeutralAmber'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 38deg 92% 50%;
  }
  :root[data-theme='darkNeutralYellow'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 45deg 93% 47%;
  }
  :root[data-theme='darkNeutralLime'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 83deg 78% 55%;
  }
  :root[data-theme='darkNeutralGreen'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 142deg 71% 45%;
  }
  :root[data-theme='darkNeutralEmerald'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 158deg 64% 52%;
  }
  :root[data-theme='darkNeutralTeal'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 173deg 80% 40%;
  }
  :root[data-theme='darkNeutralCyan'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 188deg 86% 53%;
  }
  :root[data-theme='darkNeutralSky'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 199deg 89% 48%;
  }
  :root[data-theme='darkNeutralBlue'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 217deg 91% 60%;
  }
  :root[data-theme='darkNeutralIndigo'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 239deg 84% 67%;
  }
  :root[data-theme='darkNeutralViolet'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 258deg 90% 66%;
  }
  :root[data-theme='darkNeutralPurple'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 271deg 91% 65%;
  }
  :root[data-theme='darkNeutralFuchsia'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 292deg 84% 61%;
  }
  :root[data-theme='darkNeutralPink'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 329deg 86% 70%;
  }
  :root[data-theme='darkNeutralRose'] {
    --color-txt-main: 0deg 0% 90%;
    --color-txt-accent: 0deg 0% 70%;
    --color-lines: 0deg 0% 15%;
    --color-bkg: 0deg 0% 9%;
    --color-accent: 350deg 89% 60%;
  }
  /* DARK SLATE COLORS */
  :root[data-theme='darkSlateRed'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 0deg 84% 60%;
  }
  :root[data-theme='darkSlateOrange'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 25deg 95% 53%;
  }
  :root[data-theme='darkSlateAmber'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 38deg 92% 50%;
  }
  :root[data-theme='darkSlateYellow'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 45deg 93% 47%;
  }
  :root[data-theme='darkSlateLime'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 83deg 78% 55%;
  }
  :root[data-theme='darkSlateGreen'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 142deg 71% 45%;
  }
  :root[data-theme='darkSlateEmerald'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 158deg 64% 52%;
  }
  :root[data-theme='darkSlateTeal'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 173deg 80% 40%;
  }
  :root[data-theme='darkSlateCyan'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 188deg 86% 53%;
  }
  :root[data-theme='darkSlateSky'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 199deg 89% 48%;
  }
  :root[data-theme='darkSlateBlue'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 217deg 91% 60%;
  }
  :root[data-theme='darkSlateIndigo'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 239deg 84% 67%;
  }
  :root[data-theme='darkSlateViolet'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 258deg 90% 66%;
  }
  :root[data-theme='darkSlatePurple'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 271deg 91% 65%;
  }
  :root[data-theme='darkSlateFuchsia'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 292deg 84% 61%;
  }
  :root[data-theme='darkSlatePink'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 329deg 86% 70%;
  }
  :root[data-theme='darkSlateRose'] {
    --color-txt-main: 214deg 32% 91%;
    --color-txt-accent: 213deg 27% 84%;
    --color-lines: 217deg 33% 17%;
    --color-bkg: 222deg 47% 11%;
    --color-accent: 350deg 89% 60%;
  }
  /* DARK GRAY COLORS */
  :root[data-theme='darkGrayRed'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 0deg 84% 60%;
  }
  :root[data-theme='darkGrayOrange'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 25deg 95% 53%;
  }
  :root[data-theme='darkGrayAmber'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 38deg 92% 50%;
  }
  :root[data-theme='darkGrayYellow'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 45deg 93% 47%;
  }
  :root[data-theme='darkGrayLime'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 83deg 78% 55%;
  }
  :root[data-theme='darkGrayGreen'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 142deg 71% 45%;
  }
  :root[data-theme='darkGrayEmerald'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 158deg 64% 52%;
  }
  :root[data-theme='darkGrayTeal'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 173deg 80% 40%;
  }
  :root[data-theme='darkGrayCyan'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 188deg 86% 53%;
  }
  :root[data-theme='darkGraySky'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 199deg 89% 48%;
  }
  :root[data-theme='darkGrayBlue'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 217deg 91% 60%;
  }
  :root[data-theme='darkGrayIndigo'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 239deg 84% 67%;
  }
  :root[data-theme='darkGrayViolet'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 258deg 90% 66%;
  }
  :root[data-theme='darkGrayPurple'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 271deg 91% 65%;
  }
  :root[data-theme='darkGrayFuchsia'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 292deg 84% 61%;
  }
  :root[data-theme='darkGrayPink'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 329deg 86% 70%;
  }
  :root[data-theme='darkGrayRose'] {
    --color-txt-main: 220deg 13% 91%;
    --color-txt-accent: 216deg 12% 84%;
    --color-lines: 215deg 28% 17%;
    --color-bkg: 221deg 39% 11%;
    --color-accent: 350deg 89% 60%;
  }
  /* DARK ZINC COLORS */
  :root[data-theme='darkZincRed'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 0deg 84% 60%;
  }
  :root[data-theme='darkZincOrange'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 25deg 95% 53%;
  }
  :root[data-theme='darkZincAmber'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 38deg 92% 50%;
  }
  :root[data-theme='darkZincYellow'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 45deg 93% 47%;
  }
  :root[data-theme='darkZincLime'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 83deg 78% 55%;
  }
  :root[data-theme='darkZincGreen'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 142deg 71% 45%;
  }
  :root[data-theme='darkZincEmerald'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 158deg 64% 52%;
  }
  :root[data-theme='darkZincTeal'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 173deg 80% 40%;
  }
  :root[data-theme='darkZincCyan'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 188deg 86% 53%;
  }
  :root[data-theme='darkZincSky'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 199deg 89% 48%;
  }
  :root[data-theme='darkZincBlue'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 217deg 91% 60%;
  }
  :root[data-theme='darkZincIndigo'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 239deg 84% 67%;
  }
  :root[data-theme='darkZincViolet'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 258deg 90% 66%;
  }
  :root[data-theme='darkZincPurple'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 271deg 91% 65%;
  }
  :root[data-theme='darkZincFuchsia'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 292deg 84% 61%;
  }
  :root[data-theme='darkZincPink'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 329deg 86% 70%;
  }
  :root[data-theme='darkZincRose'] {
    --color-txt-main: 240deg 6% 90%;
    --color-txt-accent: 240deg 5% 84%;
    --color-lines: 240deg 4% 16%;
    --color-bkg: 240deg 6% 10%;
    --color-accent: 350deg 89% 60%;
  }
  /* DARK STONE COLORS */
  :root[data-theme='darkStoneRed'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 0deg 84% 60%;
  }
  :root[data-theme='darkStoneOrange'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 25deg 95% 53%;
  }
  :root[data-theme='darkStoneAmber'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 38deg 92% 50%;
  }
  :root[data-theme='darkStoneYellow'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 45deg 93% 47%;
  }
  :root[data-theme='darkStoneLime'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 83deg 78% 55%;
  }
  :root[data-theme='darkStoneGreen'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 142deg 71% 45%;
  }
  :root[data-theme='darkStoneEmerald'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 158deg 64% 52%;
  }
  :root[data-theme='darkStoneTeal'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 173deg 80% 40%;
  }
  :root[data-theme='darkStoneCyan'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 188deg 86% 53%;
  }
  :root[data-theme='darkStoneSky'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 199deg 89% 48%;
  }
  :root[data-theme='darkStoneBlue'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 217deg 91% 60%;
  }
  :root[data-theme='darkStoneIndigo'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 239deg 84% 67%;
  }
  :root[data-theme='darkStoneViolet'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 258deg 90% 66%;
  }
  :root[data-theme='darkStonePurple'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 271deg 91% 65%;
  }
  :root[data-theme='darkStoneFuchsia'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 292deg 84% 61%;
  }
  :root[data-theme='darkStonePink'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 329deg 86% 70%;
  }
  :root[data-theme='darkStoneRose'] {
    --color-txt-main: 20deg 6% 90%;
    --color-txt-accent: 24deg 6% 83%;
    --color-lines: 12deg 6% 15%;
    --color-bkg: 24deg 10% 10%;
    --color-accent: 350deg 89% 60%;
  }
}

.mouseEffect {
  background: radial-gradient(300px circle at var(--positionx) var(--positiony), var(--highlightColor), var(--baseColor));
  @apply bg-clip-text text-transparent h-auto leading-tight;
}

.mouseEffectOuterContainer {
  @apply flex flex-col items-center justify-center;
  background: radial-gradient(300px circle at var(--positionx) var(--positiony), var(--highlightColor), var(--baseColor));
  @apply bg-transparent outline outline-transparent -outline-offset-1  h-auto w-full bg-bkg rounded-2xl p-0.5;
}

.mouseEffectInnerContainer {
  @apply flex flex-col items-center justify-center;
  @apply bg-bkg rounded-2xl w-full h-auto p-4;

}

body {
  @apply flex flex-col items-center justify-between w-screen min-h-screen;
  @apply bg-bkg;
  @apply text-txt-main;
}

header {
    @apply flex items-center justify-center;
    @apply border-b border-lines;
    @apply h-16 w-full;
    @apply px-8;
}

nav {
    @apply flex flex-row items-center justify-between;
    @apply w-full;
}

.headerNav {
    @apply flex items-center justify-center self-center;
    @apply flex-1;
    @apply gap-8;
}

.headerNav li {
    @apply flex;
}

.headerNav a {
    @apply text-sm font-semibold;
    @apply text-txt-main hover:text-accent;
}

.logoColor {
    @apply text-accent;
}

main {
   @apply flex w-full h-auto flex-col items-center justify-center gap-4;
   @apply flex-1 p-4 md:p-12 lg:p-24;
   @apply text-center;
}

h1 {
  @apply flex flex-col items-center justify-center;
   @apply text-5xl lg:text-6xl font-bold text-accent;
}

p {
    @apply text-lg;
}

.navLogoContainer {
    @apply flex items-center justify-center;
    @apply w-24;
}

.navIconContainer {
    @apply flex items-center justify-center;
    @apply hover:text-accent;
    @apply text-txt-main;
    @apply w-24;
}

.navIcon {
    @apply h-6 w-6;
    @apply hover:text-accent;
    @apply text-txt-main;
    @apply cursor-pointer;
}

footer {
    @apply mx-auto flex-col gap-3.5 px-4 max-w-7xl py-9 flex;
}

.footerLogoLine {
  @apply w-screen h-px bg-lines flex items-center justify-center;
}

.footerLogo {
  @apply bg-bkg p-4;
}

.footerIcons {
    @apply flex flex-row justify-center items-center;
    @apply gap-4;
}

.footerIcon {
    @apply h-6 w-6;
    @apply text-txt-main;
    @apply hover:text-accent;
    @apply cursor-pointer;
}

.footerNav {
    @apply flex flex-row items-center justify-center;
    @apply gap-4;
}

.footerNav li {
    @apply flex;
}

.footerNav a {
    @apply text-sm font-medium;
    @apply text-txt-main hover:text-accent;
}

.copy {
    @apply text-txt-accent;
    @apply text-sm text-center;
    @apply flex items-center justify-center;
    @apply h-full w-full;
}

.formInputContainer {
    @apply flex flex-col items-start justify-center py-2 w-full;
    @apply gap-4;
}

.formInput {
    @apply w-full h-12;
    @apply bg-bkg;
    @apply border-2 border-lines;
    @apply rounded-md;
    @apply px-4;
    @apply text-txt-main;
    @apply focus:outline-none;
    @apply focus:border-accent;
}

.formSelect {
    @apply w-full h-12;
    @apply bg-bkg;
    @apply border-2 border-lines;
    @apply rounded-md;
    @apply px-4;
    @apply text-txt-main;
    @apply focus:outline-none;
    @apply focus:border-accent;
}

.formTextArea {
    @apply w-full h-32;
    @apply bg-bkg;
    @apply border-2 border-lines;
    @apply rounded-md;
    @apply px-4;
    @apply py-2;
    @apply text-txt-main;
    @apply focus:outline-none;
    @apply focus:border-accent;
}

.formButton {
    @apply w-full h-12;
    @apply bg-bkg;
    @apply rounded-md border-2 border-accent;
    @apply text-txt-main;
    @apply font-semibold;
    @apply hover:bg-accent;
    @apply focus:outline-none;
}